* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    border: 1px solid gray;
    width: 45%;
    margin: 5vh auto;
}

header {
    padding: 2rem;
    border-bottom: 1px solid gray;
}

.title-link {
    text-decoration: none;
}

.title-link:visited {
    color: black;
}

.container {
    padding: 2rem;
    padding-bottom: 3rem;
}

.section-header {
    margin-bottom: 1.5rem;
    font-size: larger;
    color: maroon;
}

.header-link {
    text-decoration: none;
}

.header-link:visited {
    color: firebrick;
}

h3 {
    color: firebrick;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: x-large;
}

aside {
    float: left;
    margin-right: 3rem;
    height: 500px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 1rem;
}

main {
    min-height: 150px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th {
    padding: .5rem;
    text-align: left;
    border: 1px dashed black;
}

td {
    padding: .5rem;
    padding-bottom: 1rem;
    border: 1px dashed black;
}

footer {
    border-top: 1px solid gray;
    padding: 1rem;
    text-align: right;
    font-size: small;
}

.add-form {
    display: block;
}

.add-form label{
    width: 7rem;
    float: left;
    margin-bottom: .5rem;
}

.add-form input{
    clear: both;
    margin-bottom: .5rem;
}

select {
    clear: both;
    margin-bottom: .5rem;
}

.edit-form {
    display: block;
}

.edit-form label{
    width: 7rem;
    float: left;
    margin-bottom: .5rem;
}

.edit-form input{
    clear: both;
    margin-bottom: .5rem;
    width: 15rem;
}

#product-link {
    display: block;
    margin-top: 3rem;
}